<app-task-loader *ngIf="isLoading"></app-task-loader > 
<div class="container">
  <Br>
  <div class="row">
    <div class="col-lg-6">
        <div class="input-group mb-3">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" [(ngModel)]="searchText">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
        <div class="input-group mb-3">
            <button class="btn btn-primary form-control" (click)="onAddTask()">Add Task</button>
        </div>
    </div>
  </div>
  
  <div class="table">
      <div class="table-row">
        <div class="table-cell">Title</div>
        <div class="table-cell">Description</div>
        <div class="table-cell">DueDate</div>
        <div class="table-cell">Completed</div>
        <div class="table-cell">Action</div>
      </div>
  
      <app-task-list-item *ngFor="let task of tasks | taskSearch: searchText" [taskdetail]="task" (deleteTaskEvent)="deleteTaskEventClick($event)" (editTaskCheckBoxEvent)="editTaskCheckBoxEventChange($event)" (editInLineEvent)="editInlineEvent($event)"></app-task-list-item>
  </div>
</div>
<div class="container">
  <label> Add task using inline </label>
  <input type="checkbox" name="showAddInile" [(ngModel)]="showAddInile" class="form-check">
  <app-taskinline *ngIf="showAddInile" (editTaskInLineEvent)="editTaskInLineEventChange($event)" (addTaskInLineEvent)="addTaskInLineEventClick($event)" [taskId]="editInlineTaskId"></app-taskinline>
</div>


<app-confirmation-dialog *ngIf="showConfirmation" 
                         [message]="'Do you really want to delete this item?'"
                         (confirm)="onConfirmDelete()"
                         (cancel)="onCancelDelete()" ></app-confirmation-dialog>