<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets/images/Todo.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form  [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="email">Email</label>
              <input type="email" formControlName="email" id="email" required class="form-control form-control-lg"
                placeholder="Enter a valid email address" />
                <div *ngIf="changePasswordForm.get('email')?.invalid && (changePasswordForm.get('email')?.dirty || changePasswordForm.get('email')?.touched)">
                    <label for="email" class="text-danger">Valid email is required</label>
                </div>
            </div>
  
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="currentPassword">Current Password</label>
              <input type="password" formControlName="currentPassword" id="currentPassword" required class="form-control form-control-lg"
                placeholder="Current password" />
                <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
                    <label for="currentPassword" class="text-danger">Current password is required</label>
                </div>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="newPassword">New Password</label>
                <input type="password" formControlName="newPassword" id="newPassword" required class="form-control form-control-lg"
                  placeholder="New password" />
                  <div *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
                      <label for="newPassword" class="text-danger">New password is required</label>
                  </div>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="confirmNewPassword">Confirm New Password</label>
                <input type="password" formControlName="confirmNewPassword" id="confirmNewPassword" required class="form-control form-control-lg"
                  placeholder="Confirm new password" />
                  <div *ngIf="changePasswordForm.get('confirmNewPassword')?.invalid && (changePasswordForm.get('confirmNewPassword')?.dirty || changePasswordForm.get('confirmNewPassword')?.touched)">
                      <label for="confirmNewPassword" class="text-danger">Please confirm your new password</label>
                  </div>
                  <div *ngIf="changePasswordForm.get('confirmNewPassword')?.errors && (changePasswordForm.get('confirmNewPassword')?.dirty || changePasswordForm.get('confirmNewPassword')?.touched)">
                    <label class="text-danger">Passwords do not match</label>
                  </div>
            </div>
  
        
            <div class="text-center text-lg-start mt-4 pt-2">
              <button  data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
               
                <p class="small fw-bold mt-2 pt-1 mb-0">Do you have an account? <a href="#!"
                    class="link-danger" routerLink="/authorize/login">Login</a></p>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                    class="link-danger" routerLink="/authorize/register">Register</a></p>

               
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>
